@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App {
  text-align: center;
  list-style-position: inside;
  padding: 20px;
}


.App-header {

  padding: 30px;

}

.delete-task-btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
  margin: 10px;
}

.cb {
  border-width: 1px;
  border-color: #d3d3d3;
  margin: 10px;
}

.add-task-field {
  height: 30px;
  margin: 20px;
}

.add-task-button{
  height: 30px; 
  margin: 20px;

}